{% extends 'app/base.html' %}

{% block contenido1 %}

	<!-- Logo -->
	<a href="{% url 'home' %}" class="logo">
		<span class="symbol"><img src="../media/logo.svg" alt="" /></span><span
			class="title">Volver al Inicio</span>
	</a>

{% endblock %}

{% block contenido %}

{{mensaje}}
<div class="row">
    <div class="col-9 col-md-7 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h2>Modificar reserva</h2>
                <hr>
                <form action="" method="post">

                    {% csrf_token%}
                    {{ form }}

                    <br>
                    <input type="reset" value="Cancelar">
                    <input type="submit" value="Editar">

            </div>
        </div>
        </form>
    </div>
</div>



{% endblock %}