
        <h1>Listado de reservas</h1>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm border-style: solid;" >
            <tr>
                <th style='width: 3%;'>id</th>
                <th style="text-align:center">Nombre apellidos</th>
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Fecha reserva</th>
                <th style="text-align:center">Fecha ingreso</th>
                <th style="text-align:center">Fecha salida</th>
                <th style="text-align:center">Telefono contacto</th>
                <th style="text-align:center">Nro Habitaciones - Precio</th>
                <th style="text-align:center">Tipo Habitacion - Comedor</th>
                <th style="text-align:center">Promocion</th>
            </tr>
        
            {% for r in reservas %}
            <tr>
                <td style="width: 3%; text-align:center">{{ r.id_reserva }}</td>
                <td style="text-align:center">{{ r.nombre }} {{ r.apellidos }}</td>
                <td style="text-align:center"><font size=2>{{ r.email }}</font></td>
                <td style="text-align:center">{{ r.fecha_reserva }}</td>
                <td style="text-align:center">{{ r.fecha_ingreso }}</td>
                <td style="text-align:center">{{ r.fecha_salida }}</td>
                <td style="text-align:center">{{ r.telefono_contacto }}</td>
                <td style="text-align:center">{{ r.precio_nro_habi }}</td>
                <td style="text-align:center">{{ r.tipo_habitacion }} {{ r.servicio_comedor }}</td>
                <td style="text-align:center">{{ r.id_promocion }}</td>
            </tr>

            {% endfor %}
        </table>
