{% extends 'app/base.html' %}


{% block contenido1 %}

	<!-- Logo -->
	<a href="{% url 'home' %}" class="logo">
		<span class="symbol"><img src="../media/logo.svg" alt="" /></span><span
			class="title">Volver al Inicio</span>
	</a>

{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-body">
        <h2>Listado de proveedores</h2>
        <a href="{% url 'agregar_proveedor' %}" class="btn btn-danger">Agregar Proveedor</a>
        <hr>
        <table class="table table-striped table-hover table-responsibe-sm">
            <tr>
                <th>ID proveedor</th>
                <th>Tipo proveedor</th>
                <th>Email</th>
                <th>ID administrador</th>
                <th>Opciones</th>
            </tr>
            
            {% for p in proveedores %}

            <tr>
                <td>{{ p.id_proveedor | title }}</td>
                <td>{{ p.tipo_proveedor | title }}</td>
                <td>{{ p.email | title }}</td>
                <td>{{ p.id_admin | title }}</td>
                <td>
                    
                    <a href="{% url 'modificar_proveedor' p.id_proveedor %}" class="btn btn-outline-secondary">Modificar</a>
                    <a href="{% url 'eliminar_proveedor' p.id_proveedor %}" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>

            {% endfor%}
        
        </table>
    </div>
</div>



{% endblock %}