{% extends 'app/base.html' %}

{% block contenido1 %}

	<!-- Logo -->
	<a href="{% url 'home' %}" class="logo">
		<span class="symbol"><img src="../media/logo.svg" alt="" /></span><span
			class="title">Volver al Inicio</span>
	</a>

{% endblock %}

{% block contenido %}

<div id="main">
	<div class="inner">
		
			
		<h1 style="text-align: center;">Sabores que deleitarán a tus sentidos</h1>
		<h3 style="text-align: center;">Variadas propuestas para disfrutar</h3>
		<span class="image main" ><img src="../media/BannerGastro.jpg" alt="" /></span>
		<p style="text-align: center;">Deléitate con la magnífica gastronomía y cócteles creados por un talentoso equipo culinario quienes se han inspirado en el uso de los mejores ingredientes. Ven a disfrutar al Hostal Doña Clarita la experiencia gastronómica perfecta para todos los gustos. Desde las especialidades de la cocina chilena en el restaurant, o un elegante ambiente exterior acompañado de una impresionante vista panorámica de la cordillera y la ciudad desde la terraza.

			Con un servicio de comida a la habitación ,el Hostal Doña Clarita tiene la perfecta experiencia culinaria para todos los gustos.</p>
		
	</div>
</div>   

<div class="inner row row-cols-1 row-cols-md-2 g-4">
	<section>
		<h2>Restaurant</h2>
		<p>Lo esperamos en Fronterizo Restaurant con una innovadora propuesta gastronómica. Tenemos una propuesta de menú único que deleita y sorprende en cada plato. Nuestra cocina de vanguardia lo invita a un recorrido por los sabores de Chile de norte a sur.</p>
		<p>Nuestros servicios y horarios
		<li>Desayuno buffet : 07:30 am - 10:30 am</li>
		<li>Almuerzos : 13:00 hrs. - 15.30 hrs.</li>
		<li>Cenas : 19:00 hrs. - 22:30 hrs.</li></p>
	</section>
	<section>
		<div id="carouselExampleControls" class="carousel slide carousel slide carousel-fade" data-bs-ride="carousel" > 
			<div class="carousel-inner">
				
			  <div class="carousel-item active">
				<img src="../media/comida1.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="../media/comida2.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="../media/comida3.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="../media/comida4.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="../media/comida5.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	</section>
</div>

{% endblock %}