{% extends 'app/base.html' %}

{% block contenido1 %}

	<!-- Logo -->
	<a href="{% url 'home' %}" class="logo">
		<span class="symbol"><img src="../media/logo.svg" alt="" /></span><span
			class="title">Volver al Inicio</span>
	</a>

{% endblock %}

{% block contenido %}

<div id="main">
	<div class="inner">
		
			
		<h1 style="text-align: center;">Habitaciones & Suites</h1>
		<h3 style="text-align: center;">Amplias y cómodas habitaciones</h3>
		<span class="image main" ><img src="../media/Habitacion2.jpg" alt="" /></span>
		<p style="text-align: center;">Hermosas habitaciones con decoración de lujo y suites con maravillosas vistas a la ciudad y a la cordillera a través de sus grandes ventanales. Hostal Doña Clarita entrega una moderna propuesta para relajarse en el corazón del agitado barrio Vitacura de Santiago. Las habitaciones del Hostal Doña Clarita capturan la esencia moderna y la energía de su entorno. Con detalles y toques de lujo como las telas italianas, ropa de cama de Portugal, pisos de madera y muebles de diseño se complementan con las comodidades modernas como conexión Wi-Fi, televisores Smart TV, minibar y cafeteras.</p>
		
	</div>
</div>   

<div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
	  <div class="card">
		<img src="../media/Tipo1.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h3 class="card-title">Junior Suite</h3>
		  <p class="card-text">Amplias, modernas y luminosas suites de 50 metros cuadrados que cuentan con living room, cama king size e hidromasaje.</p>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="../media/tipo2.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h3 class="card-title">Clasic Suite</h3>
		  <p class="card-text">Suites de 70 metros cuadrados están equipadas con una lujosa cama king size, un cálido y acogedor living room e hidromasaje.</p>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="../media/tipo3.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h3 class="card-title">Terrace Suite</h3>
		  <p class="card-text">Nuestra Terrace Suite ofrece cómodos espacios para el descanso. Cuenta con una terraza privada de 20 metros cuadrados con vista a la cordillera de los Andes.</p>
		</div>
	  </div>
	</div>
	<div class="col">
	  <div class="card">
		<img src="../media/tipo4.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h3 class="card-title">Cosmopolitan Suite</h3>
		  <p class="card-text">Nuestra Cosmopolitan Suite ofrece cómodos espacios para el descanso. Cuenta con una terraza privada de 20 metros cuadrados con vista a la cordillera de los Andes.</p>
		</div>
	  </div>
	</div>
	<div class="col">
		<div class="card">
		  <img src="../media/tipo5.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h3 class="card-title">Executive Suite</h3>
			<p class="card-text">Cada una de nuestras 2 Executive Suite de 90 metros cuadrados poseen una terraza con jacuzzi privado y lo invitan a disfrutar de todo el estilo elegante y único de Clarita.</p>
		  </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card">
		  <img src="../media/tipo6.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h3 class="card-title">Clarita Suite</h3>
			<p class="card-text">Única en diseño y estilo. Nuestra Clarita Suite comprede tres habitaciones separadas. Cuenta con una amplia sala de estar y comedor independiente para su comodidad.</p>
		  </div>
		</div>
	  </div>
  </div>
{% endblock %}